## Pyspark Introduction

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\rohit\anaconda3\lib\site-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\rohit\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark
import pandas as pd

In [6]:
df=pd.read_csv('emp.csv')

In [7]:
df

     Name   Age
0    Rohit   27
1     Amit   29
2  Deepak    24
3   Nikhil   15
4   Monish   16

In [8]:
from pyspark.sql import SparkSession

In [9]:
spark= SparkSession.builder.appName("Practice").getOrCreate()

In [10]:
spark

In [12]:
df_spark=spark.read.csv('emp.csv')

In [13]:
df_spark

DataFrame[_c0: string, _c1: string]

In [63]:
## read the dataset
## .option('header','True') it will fetch the header and replace with _c0 and _c1
## inferSchema=True , shows the original datatype instead of string

df_spark=spark.read.option('header','True').csv('emp.csv',inferSchema=True)

In [64]:
### Check the schema
spark.read.option('header','True').csv('emp.csv')

DataFrame[Name : string, Age: string]

In [65]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [66]:
df_spark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)

In [62]:
df_spark.head(5)

[Row(Name ='Rohit', Age=27),
 Row(Name ='Amit', Age=29),
 Row(Name ='Deepak ', Age=24),
 Row(Name ='Nikhil', Age=15),
 Row(Name ='Monish', Age=16)]

In [68]:
## All the columns

df_spark.columns

['Name ', 'Age']

In [79]:
## select some columns


df_spark.select(['Age']).show()

+---+
|Age|
+---+
| 27|
| 29|
| 24|
| 15|
| 16|
+---+

In [81]:
df_spark['Age']

Column<'Age'>

In [84]:
df_spark.dtypes

[('Name ', 'string'), ('Age', 'int')]

In [86]:
df_spark.describe().show()

+-------+-----+------------------+
|summary|Name |               Age|
+-------+-----+------------------+
|  count|    5|                 5|
|   mean| null|              22.2|
| stddev| null|6.3796551630946325|
|    min| Amit|                15|
|    max|Rohit|                29|
+-------+-----+------------------+

In [87]:
### Adding Columns in data frame

df_spark=df_spark.withColumn('Age After 2 year',df_spark['Age']+2)

In [88]:
df_spark.show()

+-------+---+----------------+
|  Name |Age|Age After 2 year|
+-------+---+----------------+
|  Rohit| 27|              29|
|   Amit| 29|              31|
|Deepak | 24|              26|
| Nikhil| 15|              17|
| Monish| 16|              18|
+-------+---+----------------+

In [90]:
df_spark.drop('Age After 2 year')

DataFrame[Name : string, Age: int]

In [91]:
df_spark.show()

+-------+---+----------------+
|  Name |Age|Age After 2 year|
+-------+---+----------------+
|  Rohit| 27|              29|
|   Amit| 29|              31|
|Deepak | 24|              26|
| Nikhil| 15|              17|
| Monish| 16|              18|
+-------+---+----------------+

In [98]:
### Rename the columns

df_spark.withColumnRenamed('Age','Years Old').show()

+-------+---------+----------------+
|  Name |Years Old|Age After 2 year|
+-------+---------+----------------+
|  Rohit|       27|              29|
|   Amit|       29|              31|
|Deepak |       24|              26|
| Nikhil|       15|              17|
| Monish|       16|              18|
+-------+---------+----------------+

In [ ]:
df_spark.withColumn